@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Urbanist:wght@500;700;800&display=swap");
@import-normalize;

:root {
  --text-primary: #323631;
  --text-logo: #374234;
  --text-footer: #8b8b8b;

  --color-white-80: #fcfaf9;
  --color-white-100: #fff;

  font-family: "Urbanist", sans-serif;
  line-height: 1.38;
  font-weight: 800;

  color: var(--text-primary);
  background-color: var(--color-white-80);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
