.bar {
  position: relative;
  width: 100vw;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--color-brand-main) 5%,
    var(--color-grey-50) 5% 100%
  );
}

.bar::before {
  content: "";
  position: absolute;
  top: -3px;
  left: var(--before-progress, 5vw);
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-brand-main);
}

@media screen and (min-width: 768px) {
  .bar {
    height: 4px;
  }

  .bar::before {
    width: 16px;
    height: 16px;
    top: -6px;
  }
}
